.user-card-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-card-container{
    padding: 15px;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    width: 300px;
    box-shadow: rgb(230 230 230) 0px 1px 4px;
    border: 1px solid rgba(230, 230, 230, 1);
}

.right{
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}

.triangle-left {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
	border-bottom: 25px solid transparent;
}

.bottom{
    left: 50%;
	transform: translate(-50%);
}

.user-name-card-container{
    position: relative;
}

.user-name-card-container:hover .user-card-container{
    visibility: visible;
}