#post-page-flex{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

a {
    color: inherit;
    text-decoration: none;
}

#post-page-container{
    font-family: 'Roboto', sans-serif;
    width: 691px;
    margin-bottom: 40px;
}

#post-footer-interactions-flex img{
    margin-right: 5px;
}

#writer-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#writer-card-flex{
    display: flex;
    justify-content: flex-start;
}

#writer-card-image-div{
    margin-right: 16px;
}

#writer-card-image-div img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

#writer-name-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#writer-post-details{
    line-height: 20px;
    font-size: 14px;
    display: flex;
    color: rgba(117, 117, 117, 1);
}

#post-title{
    margin-top: 0.6em;
    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: -0.27em;
}

#post-subtitle{
    margin-top: 0.79em;
    line-height: 28px;
    font-size: 22px;
    /* font-weight: 700; */
    color: rgba(117, 117, 117, 1);;
    margin-bottom: -0.42em;
}

#post-image-container{
    margin-top: 56px;
}

#post-image-container img{
    height: 460px;
    width: 691px;
    object-fit: cover;
}

#post-content{
    line-height: 32px;
    font-size: 20px;
    margin-top: 2em;
    color: rgba(41, 41, 41, 1);
    word-wrap: break-word;
    white-space: pre-wrap;
}

#post-footer-details-flex{
    display: flex;
    justify-content: space-between;
}

#post-footer-claps-flex{
    display: flex;
    justify-content: space-between;
}

#post-footer-responses{
    margin-left: 24px;
}

#post-footer-responses-flex{
    display: flex;
    justify-content: space-between;
}

.svg-container img{
    height: 24px;
    width: 24px;
    filter: invert(45%) sepia(33%) saturate(2%) hue-rotate(314deg) brightness(94%) contrast(96%);
}

.svg-container img:hover{
    filter: invert(0%) sepia(2%) saturate(21%) hue-rotate(351deg) brightness(98%) contrast(80%);
    cursor: pointer;
}

#post-footer-interactions-flex{
    display: flex;
    line-height: 20px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color:rgba(117, 117, 117, 1);
}

#post-scroll-container{
    height: 40px;
}