#form-body{
    width: 100%;
}

#form-body-flex{
    display: flex;
    justify-content: center;
}

#form-body-center{
    width: 1192px;
    margin: 0 64px;
}

#post-form{
    width: 100%;
    margin-top: 25px;
}

#form-container{
    display: flex;
    flex: row;
}

#post-form input {
    border-style: hidden;
    outline: none;
}

#post-form textarea {
    width: 100%;
    padding-left: 10px;
    border-style: hidden;
    outline: none;
    height: 400px;
    font-family: 'Roboto Slab', serif;
    resize: none;
}



#post-form-title {
    height: 50px;
    font-size: 35px;
}

#title-input-container > *{
    height: 50px;
}

#post-form-post {
    height: 25px;
    font-size: 17.5px;
}

#post-input-container{
    margin-bottom: 25px;
}

#post-input-container > *{
    height: 25px;
}


#post-form-subtitle {
    height: 33.3px;
    font-size: 23.31px;
}

#subtitle-input-container > *{
    height:33.3px;
}

#form-container {
    display: flex;
    justify-content: center;
}

#form-container input{
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
    width: 100%;
}

.input-container{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.input-error{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-error div{
    text-align: center;
    width: 100%;
}

.active{
    color: #D63613;
    border-right: 1px solid #D63613;
}

.inactive{
    border-right: 1px solid transparent;
}

#post-button-container{
    display: flex;
    justify-content: flex-end;
}

.delete-button{
    background-color: #D63613;
    border: 1px solid #D63613;
    color: #FFF;
}

#post-form-button{
    height: 25px;
    border-radius: 99em;
    margin-left: 15px;
}

#post-form-button:hover{
    cursor: pointer;
}