.auth-modal{
    background-color: #FFF;
}

#auth-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
}

#auth-form-header{
    line-height: 32px;
    font-size: 28px;
}

#auth-form-flex-padding{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 56px;
    justify-content: space-around;
    height: 695px;
}

#auth-form{
    width: 565px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-form *, .auth-form-toggle-container{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

#auth-form-toggle{
    color: rgb(26, 137, 23);
    font-weight: 700;
}

#auth-form-toggle:hover{
    cursor: pointer;
}