#navbar{
    width: 100%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: background-color 300ms linear;
}

.color{
    background-color: #FFC017;
}

.no-color{
    background-color: #FFF;
}

.bottom-border{
    border-bottom: solid 1px rgba(41, 41, 41, 1);
}

#navbar-container-flex{
    display: flex;
    justify-content: center;
}

#navbar-menu-container{
    width: 1192px;
    margin: 0 64px;
}

#navbar-menu-container-flex{
    height: 75px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

#navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-image{
    height: 37.5px;
}

#navbar-logo a{
    height: 37.5px;
}

#navbar-menu-container-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-button{
    border-radius: 1386px;
    font-size: 14px;
    line-height: 20px;
    height: 38px;
    width: 104px;
    transition: background-color 300ms linear, color 300ms linear, border 300ms linear;
    cursor: pointer;
}

.color-one{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(25, 25, 25, 1);
    border: 1px solid rgba(25, 25, 25, 1);
}

.color-two{
    color: rgba(255, 255, 255, 1);
    border: 1px solid #1A8921;
    background-color: #1A8921;
}

.navbar-links{
    margin-right: 25px;
}

.navbar-links a{
    color: rgba(41, 41, 41, 1);
    text-decoration: none;
}

