.post-container{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 48px;
}

.post-content-flex{
    display: flex;
    /* justify-content: center; */
}

.post-content-details{
    display: flex;
    flex-direction: row;
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    padding-top: 8px;
}

.post-content-name{
    font-size: 13px;
    line-height: 16px;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-content-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: -webkit-box;
}

.post-content-preview{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 4px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: -webkit-box;
}

.post-content-spreader{
    padding: 0 6px;
}

.post-content{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px){

    .post-content{
        margin-right: 20px;
        width: 475px;
    }
    
    .post-content > div{
        width: 475px;
    }
}

@media screen and (max-width: 1024px){

    .post-content{
        margin-right: 20px;
        width: 356px;
    }
    
    .post-content > div{
        width: 356px;
    }
}


.post-image-container{
    display: flex;
    align-items: center;
}

.post-image-container img{
    width: 200px;
    height: 133px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.post-content-header-flex{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}